.card * {
      margin-bottom: 0.2rem;
}


.contactcard {
      margin: 1rem 0;
}

.contactform {
      margin: 1rem 0;
}


body {
      background-color: lightgray;
}

#contactfilter {
      margin-top: 1rem;
}

/* react transition group */

.item-enter {
      opacity: 0;
}

.item-enter-active {
      opacity: 1;
      transition: opacity 1000ms ease-in;
}

.item-exit {
      opacity: 1;
}

.item-exit-active {
      opacity: 0;
      transition: opacity 1000ms ease-in;
}